.cm-tag-active,
a.tag[href^="#active"] {
    --tag-color: var(--color-orange);
    --tag-border-color: var(--color-orange);
    --tag-border-color-hover: var(--color-orange);
}

.cm-tag-inactive,
a.tag[href^="#inactive"] {
    --tag-color: var(--color-red);
    --tag-border-color: var(--color-red);
    --tag-border-color-hover: var(--color-red);
}
.cm-tag-complete,
a.tag[href^="#complete"] {
    --tag-color: var(--color-green);
    --tag-border-color: var(--color-green);
    --tag-border-color-hover: var(--color-green);
}

body {
    --tag-radius: 5px;
    --tag-border-width: 2px;
}
.cm-hashtag-begin {
    display: none;
}
a.tag,
.cm-hashtag.cm-hashtag-end {
    border-right: var(--tag-border-width) solid var(--tag-border-color);
    border-left: var(--tag-border-width) solid var(--tag-border-color);
    border-radius: var(--tag-radius);
    padding-left: var(--tag-padding-x);
    padding-right: var(--tag-padding-x);
}
