/*
 * Multi-row tabs
 * https://discord.com/channels/686053708261228577/702656734631821413/1355022160397078599
*/
body:not(:has(.mod-stacked)) {
    /* Primary wrapping functions */
    & .mod-root .workspace-tab-header-container:hover {
        --tab-width: unset; /* Kapirklaa */
        flex-wrap: wrap;
        min-height: var(--header-height);
        height: unset;

        /* primary bubble creation */
        /* here be dragons */
        & .workspace-tab-header {
            width: unset; /* Kapirklaa */
            container-type: normal; /* Kapirklaa */
            flex-shrink: 1;
            flex-grow: 1;
            flex-basis:auto;
            margin-bottom: 4px;
            border-radius: 5px;
        }

        /* Remove the shoulders on tabs so the bubbles work */
        & .workspace-tab-header::before, .workspace-tab-header::after {
            display: none;
        }
    }

    /* Remove drag, this is required for hover to work. It does not break the ability to drag tabs */
    & .workspace-tab-header-container-inner {
        flex-wrap: wrap;
        -webkit-app-region: no-drag;
    } 

    /* Prevent hovering over tabs from making them larger and twitching the display */
    & .mod-root .workspace-tabs {
        & .workspace-tab-header {
            & .workspace-tab-header-inner-close-button svg {
                height: calc(var(--icon-size) /2);
                width: calc(var(--icon-size) /2);
            }
            /* Make all close buttons light up */
            & .workspace-tab-header-inner-close-button:hover {
                background-color: var(--background-modifier-hover);
            }
        }
        /* make the close icons work better by always taking up space and only showing the x on hover
           also does not overlap the words (absolute positioning causes overlap) */
        & .workspace-tab-header-container:hover .workspace-tab-header .workspace-tab-header-inner-close-button {
            display: flex;
            width: 12px;
        }
        & .workspace-tab-header:not(:hover) .workspace-tab-header-inner-close-button svg {
            display: none;
        }
    }

    /* Corrects spacing below tabs */
    &  .workspace-tab-header-tab-list {
        position: absolute;
        right: 0;
        top: 30px;
    }

    /* Move the tabs over with padding to make room for new tab icon */
    & .mod-root .workspace-tab-header-container-inner {
        padding-right: 53px;
    }
    /* Move new tab icon */
    &.mod-macos .mod-root .workspace-tab-header-new-tab {
        position: absolute;
        right: 0;
        top: -5px;
    }
    &.mod-windows {
        & .workspace-tab-header-new-tab {
            position: absolute;
            right: 138px;
            top: -5px;
        }
        & .is-right-sidedock-open .workspace-tab-header-new-tab {
            right: 0;
        }
    }

    /* Move sidebar toggle */
    & .sidebar-toggle-button {
        display: none;
        /* position: absolute;
        right: 60px;
        top: 30px; */
    }

    /* shorten the separator between tabs */
    & .workspace .mod-root .workspace-tab-header-inner::after {
        height: 10px;
    }

    /* Original code */
    & .is-hidden-frameless:not(.is-fullscreen):not(.mod-macos) .workspace-tabs.mod-top-right-space .workspace-tab-header-container:after {
        height: 40px;
    }
    & .workspace-tab-header-spacer {
        display: none;
    }
}
