/* callouts to make special tables */
div[data-callout^="table-"].callout {
    border: 0; padding: 0;
    background: unset; box-shadow: unset;
    & > .callout-content {
        display: contents
    }
    & > .callout-title {
        display: none 
    }
}
/* make the first row vertical and bold */
div[data-callout*="vertical_row"] {
    & thead tr th:first-child {
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        height: auto;
        min-width: 0 !important;
    }
    & tbody tr td:first-child {
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        height: auto;
        min-width: 0 !important;
        letter-spacing: 1px;
        font-weight: var(--table-header-weight);
    }
}
/* bold the first row of a table */
div[data-callout*="bold_row"] {
    & tbody tr td:first-child {
        font-weight: var(--table-header-weight);
    }
}
/* make the top row standard text unless bold_row is also specified */
div[data-callout*="plain_columns"] {
    & thead tr th {
        font-weight: normal;
    }
    &[data-callout*="bold_row"] thead tr th:first-child {
        font-weight: var(--table-header-weight);
    }
}